[Desktop Entry]
Name=Textcodify
GenericName=Textcodify
Comment=Encode unstructured text
Categories=Utility;Education;Manual-Processing
Exec=textcodify
Icon=application.png
Terminal=false
Type=Application
Keywords=Annotation;Text;
Encoding=UTF-8